body {
  margin:0px;
  background-color:rgba(177, 179, 90, 0.17647058823529413);
  background-image:none;
  position:relative;
  left:-0px;
  width:1366px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u49_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:40px;
}
#u49 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:100px;
  width:47px;
  height:40px;
  display:flex;
}
#u49 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u49_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u50_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:293px;
  height:83px;
  background:inherit;
  background-color:rgba(30, 152, 215, 1);
  box-sizing:border-box;
  border-width:4px;
  border-style:solid;
  border-color:rgba(0, 0, 170, 1);
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Georgia Normal", "Georgia", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u50 {
  border-width:0px;
  position:absolute;
  left:37px;
  top:206px;
  width:293px;
  height:83px;
  display:flex;
  opacity:0.9;
  font-family:"Georgia Normal", "Georgia", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u50 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u50_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:293px;
  height:83px;
  background:inherit;
  background-color:rgba(30, 152, 215, 1);
  box-sizing:border-box;
  border-width:4px;
  border-style:solid;
  border-color:rgba(0, 0, 170, 1);
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Georgia Normal", "Georgia", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u50.mouseOver {
  opacity:1;
}
#u50_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u51_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:293px;
  height:83px;
  background:inherit;
  background-color:rgba(30, 152, 215, 1);
  box-sizing:border-box;
  border-width:4px;
  border-style:solid;
  border-color:rgba(0, 0, 170, 1);
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Georgia Normal", "Georgia", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u51 {
  border-width:0px;
  position:absolute;
  left:370px;
  top:206px;
  width:293px;
  height:83px;
  display:flex;
  opacity:0.9;
  font-family:"Georgia Normal", "Georgia", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u51 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u51_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:293px;
  height:83px;
  background:inherit;
  background-color:rgba(30, 152, 215, 1);
  box-sizing:border-box;
  border-width:4px;
  border-style:solid;
  border-color:rgba(0, 0, 170, 1);
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Georgia Normal", "Georgia", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u51.mouseOver {
  opacity:1;
}
#u51_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u52_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:293px;
  height:83px;
  background:inherit;
  background-color:rgba(30, 152, 215, 1);
  box-sizing:border-box;
  border-width:4px;
  border-style:solid;
  border-color:rgba(0, 0, 170, 1);
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Georgia Normal", "Georgia", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u52 {
  border-width:0px;
  position:absolute;
  left:1036px;
  top:206px;
  width:293px;
  height:83px;
  display:flex;
  opacity:0.9;
  font-family:"Georgia Normal", "Georgia", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u52 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u52_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:293px;
  height:83px;
  background:inherit;
  background-color:rgba(30, 152, 215, 1);
  box-sizing:border-box;
  border-width:4px;
  border-style:solid;
  border-color:rgba(0, 0, 170, 1);
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Georgia Normal", "Georgia", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u52.mouseOver {
  opacity:1;
}
#u52_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u53_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:293px;
  height:83px;
  background:inherit;
  background-color:rgba(30, 152, 215, 1);
  box-sizing:border-box;
  border-width:4px;
  border-style:solid;
  border-color:rgba(0, 0, 170, 1);
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Georgia Normal", "Georgia", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u53 {
  border-width:0px;
  position:absolute;
  left:703px;
  top:206px;
  width:293px;
  height:83px;
  display:flex;
  opacity:0.9;
  font-family:"Georgia Normal", "Georgia", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u53 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u53_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:293px;
  height:83px;
  background:inherit;
  background-color:rgba(30, 152, 215, 1);
  box-sizing:border-box;
  border-width:4px;
  border-style:solid;
  border-color:rgba(0, 0, 170, 1);
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Georgia Normal", "Georgia", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u53.mouseOver {
  opacity:1;
}
#u53_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u54_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1026px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Georgia Gras", "Georgia Normal", "Georgia", sans-serif;
  font-weight:700;
  font-style:normal;
}
#u54 {
  border-width:0px;
  position:absolute;
  left:197px;
  top:104px;
  width:1026px;
  height:36px;
  display:flex;
  font-family:"Georgia Gras", "Georgia Normal", "Georgia", sans-serif;
  font-weight:700;
  font-style:normal;
}
#u54 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u54_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
