body {
  margin:0px;
  background-color:rgba(177, 179, 90, 0.17647058823529413);
  background-image:none;
  position:relative;
  left:-0px;
  width:1366px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u2185_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:121px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u2185 {
  border-width:0px;
  position:absolute;
  left:1171px;
  top:50px;
  width:96px;
  height:121px;
  display:flex;
}
#u2185 .text {
  position:absolute;
  align-self:flex-start;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u2185_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:121px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u2185.mouseOver {
  opacity:0.9;
}
#u2185_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2186_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:65px;
}
#u2186 {
  border-width:0px;
  position:absolute;
  left:1193px;
  top:59px;
  width:56px;
  height:65px;
  display:flex;
}
#u2186 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2186_img.mouseOver {
}
#u2186.mouseOver {
  opacity:0.9;
}
#u2186_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2187_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Arial Gras", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:10px;
}
#u2187 {
  border-width:0px;
  position:absolute;
  left:1180px;
  top:131px;
  width:80px;
  height:27px;
  display:flex;
  font-family:"Arial Gras", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:10px;
}
#u2187 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2187_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Arial Gras", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:10px;
}
#u2187.mouseOver {
  opacity:0.9;
}
#u2187_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2188_input {
  position:absolute;
  left:0px;
  top:0px;
  width:601px;
  height:52px;
  padding:2px 2px 2px 2px;
  font-family:"Georgia Gras Italique", "Georgia Normal", "Georgia", sans-serif;
  font-weight:700;
  font-style:italic;
  font-size:36px;
  letter-spacing:normal;
  color:#FFFFFF;
  vertical-align:none;
  text-align:center;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u2188_input.hint {
  position:absolute;
  left:0px;
  top:0px;
  width:601px;
  height:52px;
  padding:2px 2px 2px 2px;
  font-family:"Georgia Gras Italique", "Georgia Normal", "Georgia", sans-serif;
  font-weight:700;
  font-style:italic;
  font-size:36px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:center;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u2188_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:601px;
  height:52px;
  padding:2px 2px 2px 2px;
  font-family:"Georgia Gras Italique", "Georgia Normal", "Georgia", sans-serif;
  font-weight:700;
  font-style:italic;
  font-size:36px;
  letter-spacing:normal;
  color:#FFFFFF;
  vertical-align:none;
  text-align:center;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u2188_input.hint.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:601px;
  height:52px;
  padding:2px 2px 2px 2px;
  font-family:"Georgia Gras Italique", "Georgia Normal", "Georgia", sans-serif;
  font-weight:700;
  font-style:italic;
  font-size:36px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:center;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u2188_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:601px;
  height:52px;
  background:inherit;
  background-color:rgba(30, 152, 215, 1);
  box-sizing:border-box;
  border-width:4px;
  border-style:solid;
  border-color:rgba(0, 0, 170, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Georgia Gras Italique", "Georgia Normal", "Georgia", sans-serif;
  font-weight:700;
  font-style:italic;
  font-size:36px;
  text-align:center;
}
#u2188 {
  border-width:0px;
  position:absolute;
  left:382px;
  top:84px;
  width:601px;
  height:52px;
  display:flex;
  font-family:"Georgia Gras Italique", "Georgia Normal", "Georgia", sans-serif;
  font-weight:700;
  font-style:italic;
  font-size:36px;
  text-align:center;
}
#u2188 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2188_div.hint {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:601px;
  height:52px;
  background:inherit;
  background-color:rgba(30, 152, 215, 1);
  box-sizing:border-box;
  border-width:4px;
  border-style:solid;
  border-color:rgba(0, 0, 170, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Georgia Gras Italique", "Georgia Normal", "Georgia", sans-serif;
  font-weight:700;
  font-style:italic;
  font-size:36px;
  text-align:center;
}
#u2188.hint {
}
#u2188_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:601px;
  height:52px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:4px;
  border-style:solid;
  border-color:rgba(0, 0, 170, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Georgia Gras Italique", "Georgia Normal", "Georgia", sans-serif;
  font-weight:700;
  font-style:italic;
  font-size:36px;
  text-align:center;
}
#u2188.disabled {
}
#u2188_div.hint.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:601px;
  height:52px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:4px;
  border-style:solid;
  border-color:rgba(0, 0, 170, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Georgia Gras Italique", "Georgia Normal", "Georgia", sans-serif;
  font-weight:700;
  font-style:italic;
  font-size:36px;
  text-align:center;
}
#u2188.hint.disabled {
}
#u2189_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:51px;
}
#u2189 {
  border-width:0px;
  position:absolute;
  left:91px;
  top:85px;
  width:48px;
  height:51px;
  display:flex;
}
#u2189 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2189_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2190_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:293px;
  height:117px;
  background:inherit;
  background-color:rgba(30, 152, 215, 1);
  box-sizing:border-box;
  border-width:4px;
  border-style:solid;
  border-color:rgba(0, 0, 170, 1);
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Georgia Normal", "Georgia", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u2190 {
  border-width:0px;
  position:absolute;
  left:269px;
  top:215px;
  width:293px;
  height:117px;
  display:flex;
  opacity:0.9;
  font-family:"Georgia Normal", "Georgia", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u2190 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2190_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:293px;
  height:117px;
  background:inherit;
  background-color:rgba(30, 152, 215, 1);
  box-sizing:border-box;
  border-width:4px;
  border-style:solid;
  border-color:rgba(0, 0, 170, 1);
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Georgia Normal", "Georgia", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u2190.mouseOver {
  opacity:1;
}
#u2190_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2191_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:293px;
  height:117px;
  background:inherit;
  background-color:rgba(30, 152, 215, 1);
  box-sizing:border-box;
  border-width:4px;
  border-style:solid;
  border-color:rgba(0, 0, 170, 1);
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Georgia Normal", "Georgia", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u2191 {
  border-width:0px;
  position:absolute;
  left:803px;
  top:215px;
  width:293px;
  height:117px;
  display:flex;
  opacity:0.9;
  font-family:"Georgia Normal", "Georgia", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u2191 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2191_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:293px;
  height:117px;
  background:inherit;
  background-color:rgba(30, 152, 215, 1);
  box-sizing:border-box;
  border-width:4px;
  border-style:solid;
  border-color:rgba(0, 0, 170, 1);
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Georgia Normal", "Georgia", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u2191.mouseOver {
  opacity:1;
}
#u2191_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
