body {
  margin:0px;
  background-color:rgba(177, 179, 90, 0.17647058823529413);
  background-image:none;
  position:relative;
  left:-0px;
  width:888px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u2975_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:637px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Arial Gras", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:28px;
  text-align:center;
}
#u2975 {
  border-width:0px;
  position:absolute;
  left:126px;
  top:10px;
  width:637px;
  height:32px;
  display:flex;
  font-family:"Arial Gras", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:28px;
  text-align:center;
}
#u2975 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2975_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2976_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Arial Gras", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u2976 {
  border-width:0px;
  position:absolute;
  left:190px;
  top:62px;
  width:79px;
  height:16px;
  display:flex;
  font-family:"Arial Gras", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u2976 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2976_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
.u2978_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:30px;
  background:inherit;
  background-color:rgba(250, 250, 250, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 51, 51, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#555555;
}
.u2978 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:30px;
  display:flex;
  color:#555555;
}
.u2978 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
.u2978_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
.u2979_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:30px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 51, 51, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#555555;
}
.u2979 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:0px;
  width:125px;
  height:30px;
  display:flex;
  color:#555555;
}
.u2979 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
.u2979_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
.u2980_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:30px;
  background:inherit;
  background-color:rgba(250, 250, 250, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 51, 51, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#555555;
}
.u2980 {
  border-width:0px;
  position:absolute;
  left:175px;
  top:0px;
  width:125px;
  height:30px;
  display:flex;
  color:#555555;
}
.u2980 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
.u2980_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
.u2981_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:30px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 51, 51, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#555555;
}
.u2981 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:0px;
  width:125px;
  height:30px;
  display:flex;
  color:#555555;
}
.u2981 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
.u2981_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
.u2982_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:30px;
  background:inherit;
  background-color:rgba(250, 250, 250, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 51, 51, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#555555;
}
.u2982 {
  border-width:0px;
  position:absolute;
  left:425px;
  top:0px;
  width:125px;
  height:30px;
  display:flex;
  color:#555555;
}
.u2982 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
.u2982_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
.u2983_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:30px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 51, 51, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#555555;
}
.u2983 {
  border-width:0px;
  position:absolute;
  left:550px;
  top:0px;
  width:125px;
  height:30px;
  display:flex;
  color:#555555;
}
.u2983 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
.u2983_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2977-1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:675px;
  height:30px;
}
#u2977-2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:675px;
  height:30px;
}
#u2977-3 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:60px;
  width:675px;
  height:30px;
}
#u2977-4 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:90px;
  width:675px;
  height:30px;
}
#u2977-5 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:120px;
  width:675px;
  height:30px;
}
#u2977-6 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:150px;
  width:675px;
  height:30px;
}
#u2977-7 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:180px;
  width:675px;
  height:30px;
}
#u2977-8 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:210px;
  width:675px;
  height:30px;
}
#u2977-9 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:240px;
  width:675px;
  height:30px;
}
#u2977-10 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:270px;
  width:675px;
  height:30px;
}
#u2977-11 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:300px;
  width:675px;
  height:30px;
}
#u2977-12 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:330px;
  width:675px;
  height:30px;
}
#u2977-13 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:360px;
  width:675px;
  height:30px;
}
#u2977-14 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:390px;
  width:675px;
  height:30px;
}
#u2977-15 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:420px;
  width:675px;
  height:30px;
}
#u2977-16 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:450px;
  width:675px;
  height:30px;
}
#u2977-17 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:480px;
  width:675px;
  height:30px;
}
#u2977-18 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:510px;
  width:675px;
  height:30px;
}
#u2977-19 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:540px;
  width:675px;
  height:30px;
}
#u2977-20 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:570px;
  width:675px;
  height:30px;
}
#u2977-21 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:600px;
  width:675px;
  height:30px;
}
#u2977-22 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:630px;
  width:675px;
  height:30px;
}
#u2977-23 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:660px;
  width:675px;
  height:30px;
}
#u2977-24 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:690px;
  width:675px;
  height:30px;
}
#u2977-25 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:720px;
  width:675px;
  height:30px;
}
#u2977-26 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:750px;
  width:675px;
  height:30px;
}
#u2977-27 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:780px;
  width:675px;
  height:30px;
}
#u2977 {
  border-width:0px;
  position:absolute;
  left:107px;
  top:92px;
  width:675px;
  height:810px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
}
#u2984_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:679px;
  height:7px;
}
#u2984 {
  border-width:0px;
  position:absolute;
  left:107px;
  top:510px;
  width:675px;
  height:3px;
  display:flex;
}
#u2984 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2984_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2985_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:679px;
  height:7px;
}
#u2985 {
  border-width:0px;
  position:absolute;
  left:107px;
  top:120px;
  width:675px;
  height:3px;
  display:flex;
}
#u2985 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2985_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
